$text-color: #fff;
$text-color1:rgb(160,160,160);
$red-color:rgb(234,39,45);
$price-color:rgb(241,220,83);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 70px auto;
    overflow: hidden;
}

@mixin transition {
    transition: 0.3s all ease;
}

@mixin h1-title {
        font-size: 4rem;
        font-family: 'Satisfy', cursive;

}

@mixin textP {
    font-size: 1.7rem;
    color: $text-color1;
    width: 80%;
    line-height: 2.3rem;
    font-family: 'Cormorant Garamond', serif;
} 

@mixin media-md {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin media-small {
    @media screen and (max-width: 425px) {
        @content;
    }
}

@mixin media-xsmall {
    @media screen and (max-width: 320px) { 
        @content;
    }
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}